* {
  box-sizing: border-box;
}
main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
  background-color: #003333;
}
.navbar ul li a {
  color: white;
}

@media (max-width: 767.98px) {
  .half-offcanvas {
    width: 50%;
    max-width: 50%;
  }
  .navbar {
    background-color: white;
  }
  .navbar ul li a {
    color: black;
  }
}
.hero {
  background-color: #003333;
  height: 65vh;
}

.tagline {
  font-family: cursive;
}
/*large and larger screens*/
@media (min-width: 992px) {
  .hero {
    padding-top: 100px;
    height: 90vh;
  }
  .lrn,
  .lrn2 {
    font-size: 60px;
    font-weight: 1000;
  }
  .lrn2 {
    padding-top: 0.4px;
  }
  .tagline {
    font-size: 20px;
    font-weight: 400;
  }
}
/* small and smaller screens*/
@media (max-width: 767px) {
  .hero {
    height: 80vh;
  }
  .heroclassimg {
    height: 20vh;
  }
  .lrn {
    padding-top: 75px;
    font-size: 45px;
    font-weight: 400;
  }
  .lrn2 {
    font-size: 45px;
    font-weight: 400;
  }
  .tagline {
    font-size: 20px;
    font-weight: 300;
  }
}
.heroclassimg {
  background-color: #00b595;
}
.whywalkmetru {
  margin-top: 70px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .whywalkmetru {
    padding-left: 10px;
  }
}
@media (min-width: 992px) {
  .whywalkmetru {
    margin-right: 3000px;
  }
}
.lrnfst {
  margin-top: 130px;
  padding-left: 40px;
}
.lrnfstimg {
  margin-top: 130px;
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .fast {
    height: 120vh;
  }
}
@media (min-width: 992px) {
  .fast {
    height: 80vh;
  }
}
/* scroll to top button*/
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

/*monetize your skills*/
@media (min-width: 992px) {
  .money {
    margin-top: 200px;
  }
}
/* testimonilas */
.testy {
  padding-top: 30px;
  height: 100vh;
}
.testimony {
  background: #ccf0ea;
}

.accordion-button:not(.collapsed) {
  background-color: white;
  color: #00b595;
}
.accordion {
  --bs-accordion-border-color: none;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='currentColor' d='M8 1.5a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11a.5.5 0 0 1 .5-.5z'/%3E%3Cpath fill='currentColor' d='M15.5 8a.5.5 0 0 1-.5.5H3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 .5.5z'/%3E%3C/svg%3E");
}

.accordion-body {
  background-color: #ccf0ea;
}

.samething {
  background-color: #ccf0ea;
}
.rounded-circle {
  width: 60px; /* Adjust the size as needed */
  height: 60px;
}

/* percentage*/
.percentage {
  height: 35vh;
}
@media (max-width: 767) {
  .percent {
    height: 25vh;
    margin-bottom: 20px;
  }
}
/* Blog section   */
.blog {
  background-color: #ccf0ea;
  padding-bottom: 40px;
}
.blogtext {
  font-size: 70px;
}
@media (max-width: 767px) {
  .blogtext {
    font-size: 70px;
  }
}
/* foooter*/
footer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 60vh;
  background-color: black;
  color: white;
  padding-top: 50px;
}
i {
  font-size: 30px;
  cursor: pointer;
}
i:hover {
  color: #00b595;
}
@media (max-width: 767px) {
  footer {
    height: 160vh;
  }
}
.list-group-item {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 50;
}
.lead1 {
  font-size: 20px;
  font-weight: 200;
}
.lead2 {
  font-size: 20px;
  font-weight: 200;
}

.copyrite {
  color: #00b595;
}

/* -------------------- thin text -------------------*/
.thin-text {
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
}

/* -------------------- All BUTTON CSS -------------------*/
/* HERO SECTION BUTTON*/
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #00b595;
  box-shadow: 0 0 0 2px #00b595;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #00b595;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #00b595;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #00b595;
}

.animated-button:hover .circle {
  width: 250px;
  height: 220px;
  opacity: 1;
  border-radius: 50%;
}

/* monetise button*/
button {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: 12px 35px;
  background: #00b595;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #00b595;
  border-radius: 8px;
  box-shadow: 0 0 0 #00b595;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #7ab2b2);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #7ab2b2);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #7ab2b2);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #7ab2b2);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #7ab2b2);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #7ab2b2);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #006769;
  box-shadow: 0 0 25px #006769;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #7ab2b2);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #7ab2b2);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #7ab2b2);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #7ab2b2);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #7ab2b2);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #7ab2b2);
  z-index: 2;
}

.fil0 {
  fill: #003333;
}
